## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Avarua,CK,64.45,few clouds,-21.2078,-159.7750,Paradise Inn
1,2,Yellowknife,CA,65.28,broken clouds,62.4560,-114.3525,The Explorer Hotel
2,3,Nanortalik,GL,48.51,scattered clouds,60.1432,-45.2371,Hotel Kap Farvel
3,4,Port Elizabeth,ZA,59.09,few clouds,-33.9180,25.5701,39 On Nile Guest House
4,5,Qaanaaq,GL,39.74,light rain,77.4840,-69.3632,Qaanaaq Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Ogdensburg" )]
vacation_start
vacation_end = vacation_df.loc[(vacation_df["City"] == "Ogdensburg" )]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Roma" )]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Broome" )] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Jamestown" )]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start_array = vacation_start.to_numpy()
stop1_array = vacation_stop1.to_numpy()
stop2_array = vacation_stop2.to_numpy()
stop3_array = vacation_stop3.to_numpy()
end_array = vacation_end.to_numpy()

#start = vacation_start["Lng"].to_numpy()
start = []
start.append((start_array[0,5], start_array[0,6]))

end = []
end.append((end_array[0,5], end_array[0,6]))
           
stop1 = []
stop1.append((stop1_array[0,5], stop1_array[0,6]))
           
stop2 = []
stop2.append((stop2_array[0,5], stop2_array[0,6]))
           
stop3 = []
stop3.append((stop3_array[0,5], stop3_array[0,6]))
#startlat = (start[0,5])
#startlatt = tuple(startlat)
#print(start.index('US'))

#startlng 
#end = 
#stop1 = 
#stop2 = 
#stop3 =

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
odg2james = gmaps.directions_layer(
        start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]],
        travel_mode='BICYCLING')
fig.add_layer(odg2james)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,208,Ogdensburg,US,65.44,scattered clouds,44.6942,-75.4863,Dewar’s Inn on the River
1,626,Roma,US,69.87,overcast clouds,43.2128,-75.4557,Wingate By Wyndham Rome
2,507,Broome,US,72.19,moderate rain,42.2506,-75.8330,Chenango Valley State Park
3,50,Jamestown,US,71.71,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))